*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-image: url(./Assets/sunset-over.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}
.container{
    height: 400px;
    width: 400px;
    text-align: center;
    padding: 30px;
}
.container input{
    height: 33px;
    width: 200px;
    margin-top: 25px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 15px;
}
#btn{
    height: 30px;
    width: 110px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-weight: 700;
    font-family: sans-serif;
}
button:hover{
    background-color: rgba(0, 0, 255, 0.605);
}
.card{
    height: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    color: whitesmoke;

}
